<div class="container">

  <div class="input-group mb-3">
    <input #fullName class="form-control" placeholder="Full name" type="text">
    <div class="input-group-append">
      <button (click)="searchByName(fullName.value)" class="btn btn-success" type="submit">Search</button>
    </div>
  </div>

  <div class="input-group mb-3">
    <input #phone class="form-control" placeholder="Phone" type="text">
    <div class="input-group-append">
      <button (click)="searchByPhone(phone.value)" class="btn btn-success" type="submit">Search</button>
    </div>
  </div>


  <table class="table">

    <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
    </tr>
    </thead>

    <tbody *ngFor="let contact of contacts">
    <td>{{contact.fullName}}</td>
    <td *ngFor="let phone of contact.phoneNumbers">{{phone}}</td>
    <td></td>
    </tbody>
  </table>
</div>
